:root {
    --icecookies-container-bg: #333;
    --icecookies-text-color: #fff;
    --icecookies-font-family: "Futura";
    --icecookies-btn-bg: #000;
    --icecookies-btn-hbg: #23a455;
}

.icecookies-container {
    display: none;
	z-index: 9999;
    overflow: hidden;
	position: fixed;
    bottom: 1.875rem;
	right: 1.875rem;
	width: 21.875rem;
	min-height: 1.25rem;
	box-sizing: border-box;
	padding: 1.875rem;
	background: var(--icecookies-container-bg);
}

.icecookies-container .icecookies-title a {
	font-family: var(--icecookies-font-family), OpenSans, arial, "sans-serif";
	color: var(--icecookies-text-color);
	font-size: 1.375rem;
	line-height: 1.25rem;
	display: block;
}

.icecookies-container .icecookies-title a:hover {
    cursor: default;
    color: var(--icecookies-text-color);
}

.icecookies-container .icecookies-desc p {
    cursor: default;
    display: block;
	padding: 0;
    margin: 0.725rem 0 0.25rem;
    font-size: 1rem;
	font-family: var(--icecookies-font-family), OpenSans, arial, "sans-serif";
	color: var(--icecookies-text-color);
	line-height: 1.25rem;
} 

.icecookies-container .icecookies-desc a {
	font-family: var(--icecookies-font-family), OpenSans, arial, "sans-serif";
	color: var(--icecookies-text-color);
	text-decoration: underline;
}

.icecookies-container .icecookies-btn a {
	display: inline-block;
    color: var(--icecookies-text-color);
    background: var(--icecookies-btn-bg);
	font-family: var(--icecookies-font-family), OpenSans, arial, "sans-serif";
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
	box-sizing: border-box; 
	padding: 0.5rem 1.5rem;
	text-align: center;
	transition: background 0.3s;
}

.icecookies-container .icecookies-btn a:hover {
    cursor: pointer;
    color: var(--icecookies-text-color);
	background: var(--icecookies-btn-hbg);
}


/* @media queries */

@media (max-width: 980px) {

	.icecookies-container {
		bottom: 0 !important;
		left: 0 !important;
		width: 100%  !important;
	}

}

/* quick utilities */

.pull-end {
    float: right !important;
}